.inner-hero.nav-hero {
    .hero {
        padding: 4rem 0;

        h1 {
            font-size: 65px;
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(4, 84, 156, 0.8);
            opacity: 0.9;
            z-index: -2;
        }
    }
}

.nav-hero {
    .hero {
        padding: 3rem 0 4rem;

        @media (max-width: 1200px) {
            padding: 4rem 0 6rem;
        }

        .hero-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .info-div {
            width: 56%;

            @media (max-width: 992px) {
                width: 100%;
            }

            h1 {
                font-size: 55px;
                margin-bottom: 2.5rem;
                font-weight: 700;
                color: $white;
                text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

                @media (max-width: 768px) {
                    font-size: 35px;
                }

                @media (max-width: 576px) {
                    font-size: 32px;
                }
            }

            p {
                font-size: 19px;
                color: $white;
                width: 100%;
                text-shadow: black 0.1em 0.1em 0.2em;

                @media (max-width: 768px) {
                    font-size: 16px;
                }

                @media (max-width: 576px) {
                    font-size: 15px;
                }
            }

            ul {
                list-style-type: none;
                padding-left: 0;

                li::before {
                    content: "\f058";
                    color: $secondary;
                    font-size: 1.4rem;
                    font-family: "Font Awesome 5 Free";
                    padding: 0 10px 0 0;
                }

                li {
                    font-size: 19px;
                    color: white;
                    line-height: 35px;
                    margin-bottom: 0.5rem
                }
            }
        }

        .img-div {
            width: 43%;
            position: relative;

            @media (max-width: 992px) {
                width: 100%;
            }

            video {
                width: 100%;
                object-fit: contain;
            }

            .hero-right-img {
                width: 95%;
                z-index: -1;
                object-fit: contain;
                z-index: 2;

                @media (max-width: 992px) {
                    max-height: 20rem;
                }
            }

            .element-1 {
                position: absolute;
                background-color: $white;
                border-radius: 12px;
                padding: 0.6rem;
                right: -3%;
                top: 50%;
                z-index: 2;

                .img-element-1 {
                    width: 7rem;
                }
            }
        }

        .hero-img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            z-index: -2;
            filter: blur(0px);
        }

        video {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            z-index: -2;
            filter: blur(1px);
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background: linear-gradient(0deg, rgba(71,95,135,1) 0%, rgba(71,95,135,0.9585084033613446) 35%, rgba(16,102,150,0.633578431372549) 76%);
            background: rgba(19, 31, 59, 0.8);
            opacity: 0.9;
            z-index: -2;
        }
    }

}

// Achievements
.achievements {
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 992px) {
            flex-direction: column;
            row-gap: 4.5rem;
            align-items: start;
        }

        .typo {
            width: 40%;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        .img-row {
            width: 50%;
            display: flex;
            gap: 1rem;

            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            @media (max-width: 992px) {
                width: 100%;
            }

            .img-div {

                img {
                    width: 100%;
                    height: 15rem;
                    // object-fit: ;
                }
            }
        }

        // .achievements-list {
        //     width: 47%;
        //     display: grid;
        //     grid-template-columns: repeat(2, 1fr);
        //     gap: 1rem;

        //     @media (max-width: 992px) {
        //         width: 100%;
        //     }

        //     @media (max-width: 430px) {
        //         grid-template-columns: repeat(1, 1fr);
        //     }

        //     .list-content {
        //         display: flex;
        //         gap: 1rem;

        //         .img-div {
        //             img {
        //                 max-width: 4rem;
        //             }
        //         }

        //         .info {
        //             .title {
        //                 font-size: 32px;
        //                 font-weight: 600;

        //                 span {
        //                     color: $secondary;
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}

.services-list {
    // background: $primary-gradient;
    padding: 2rem 0 4rem;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-gradient;
        z-index: -2;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/texture-1.png');
        opacity: 0.15;
        z-index: -1;
    }

    .header {
        font-size: 2.5rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin-top: 2rem;

        .service {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            padding: 1rem 1.5rem;
            border-radius: 12px;
            background-color: $white;

            .icon-div {
                background-color: $secondary;
                border-radius: 50%;
                min-width: 3.6rem;
                min-height: 3.6rem;
                width: 3.6rem;
                height: 3.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(36, 161, 211);
                margin-bottom: 1rem;

                i {
                    font-size: 20px;
                    color: $white;
                }
            }

            .title {
                font-weight: 600;
                font-size: 25px;
            }

            .description {
                margin-bottom: 0.4rem;
            }
        }
    }
}


// About Us
.two-col-info {
    overflow: visible !important;

    .flex {
        display: flex;
        justify-content: center;
        // align-items: center;
        gap: 2rem;

        @media (max-width: 992px) {
            flex-direction: column;
            row-gap: 4.5rem;
        }

        .info-div {
            flex: 1;
            width: 45%;
            flex: 1;

            @media (max-width: 992px) {
                width: 100%;
                flex: inherit;
            }

            .title {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 18px;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                list-style-type: none;
                padding-left: 0;

                @media (max-width: 430px) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            li::before {
                content: "\f058";
                color: $secondary;
                font-size: 1.4rem;
                font-family: "Font Awesome 5 Free";
                padding: 0 6px 0 0;
            }
        }

        .img-div {
            width: 45%;
            flex: 1;
            position: relative;

            @media (max-width: 992px) {
                width: 100%;
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }

            .main-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }

            .add-on-info {
                background-color: $white;
                width: fit-content;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                border-radius: 12px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 0.5rem 1rem;
                position: absolute;
                z-index: 2;
                bottom: -2rem;
                left: 50%;
                transform: translateX(-50%);

                .big-text {
                    font-size: 3rem;
                    font-weight: 600;
                    color: $secondary;
                }

                .small-text {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 0px;
                }

                .medium-text {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }
        }

    }
}


// About Us
.about-us {
    background: $primary-gradient;
    padding: 3rem 0 0;
    position: relative;

    @media (max-width: 1200px) {
       padding: 3rem 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/texture-1.png');
        opacity: 0.15;
        z-index: 0;
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        z-index: 2;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .info-div {
            width: 60%;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .header {
                font-size: 48px;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 1rem;
                color: $white;

                @media (max-width: 576px) {
                    font-size: 36px;
                }
            }

            .info {
                font-size: 17px;
                color: $primary-soft;
                font-weight: 400;
                margin-bottom: 1rem;
            }
        }

        .img-div {
            width: 40%;
            display: flex;
            justify-content: center;
            border-radius: 12px;
            position: relative;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .main-img {
                max-height: 600px;
                width: 100%;
                object-fit: contain;
                z-index: 1;

                @media (max-width: 1200px) {
                    display: none;
                }
            }
        }
    }
}

// How it works
.how-it-works {
    .flex {
        display: flex;
        gap: 4rem;
        position: relative;
        width: 100%;

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 1rem;
        }

        &::after {
            position: absolute;
            content: "";
            width: 70%;
            border-bottom: 2px dashed $dark;
            height: 3px;
            left: 50%;
            top: 25%;
            z-index: -2;
            transform: translateX(-50%);

            @media (max-width: 992px) {
                display: none;
                border: none;
            }
        }

        .column {
            text-align: center;

            @media (max-width: 992px) {
                padding-bottom: 2rem;
                border-bottom: 2px dashed $info;
            }

            .step-num {
                width: 3.5rem;
                height: 3.5rem;
                background-color: $secondary;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1.3rem auto;
                position: relative;

                p {
                    color: $white;
                    font-size: 19px;
                }
            }

            h4 {
                font-size: 24px;
                font-weight: 600;
            }

            .info {
                color: $info;
            }
        }
    }
}

// Step Process
.step-process {
    background-color: rgba(4, 85, 156, 0.534);
    padding: 3rem 0;
    color: $white;
    position: relative;
    // color: $white;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(40%);
    }

    .info-div {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.1rem;
            color: #504e4b;
        }
    }

    .flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @media (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
            flex-direction: column-reverse;
        }

        .info-side {
            .header {
                font-weight: 600;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            .description {
                font-size: 17px;
                margin-bottom: 2rem
            }

            .reviews-flex {
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;

                @media (max-width: 992px) {
                    margin-top: 2rem !important;
                }

                .review {
                    .icons {
                        display: flex;
                        gap: 0.5rem;
                        color: #FF9529;
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .steps-side {
            .step {
                display: flex;
                gap: 2rem;
                margin-bottom: 2rem;

                .number {
                    background-color: $white;
                    width: 60px !important;
                    min-width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 12px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    p {
                        font-size: 2rem;
                        font-weight: 600;
                        color: $secondary;
                    }
                }

                .step-info {
                    .header {
                        font-size: 1.7rem;
                        margin-bottom: 0.6rem;
                    }
                }
            }
        }
    }
}

// For Every section
section {
    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(40%);
    }

}

// Services
.services {
    position: relative;
    background-color: rgba(4, 85, 156, 0.534);
    color: $white;
    padding: 3rem 0;

    .flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .service {
            width: 100%;
            padding: 1rem;
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.80);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);

            .img-div {
                width: 100%;
                margin-bottom: 0.6rem;

                img {
                    width: 100%;
                    border-radius: 12px;
                    height: 15rem;
                    object-fit: cover;
                    padding: auto 1rem;
                }
            }

            .info-div {
                .title {
                    font-weight: 600;
                    font-size: 1.5rem;
                    color: $primary;
                }

                .link {
                    text-decoration: underline !important;
                    color: $secondary;
                    font-weight: 500;
                }
            }
        }
    }
}

// Multiple Popups Info
.multiple-popups-info.two-col-info {
    .img-div {
        @media (max-width:992px) {
            display: none;
        }

        .main-img {
            width: 80%;
            display: flex;
            margin-left: auto;
        }

        .popup {
            position: absolute;
            background-color: $white;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 1rem;
            border-radius: 12px;
        }

        .popup-1 {
            top: 1rem;
            left: 1rem;

            img {
                width: 8rem;
            }
        }

        .popup-2 {
            bottom: 0rem;
            right: 0rem;

            .icons {
                color: #FF9529;
            }
        }
    }
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: -4rem;
    padding: 0 !important;
    z-index: 2;
    background-color: $white;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 2rem;

    @media (max-width: 1200px) {
        width: 95%;
    }

    @media (max-width: 992px) {
        flex-direction: column;

        .feature {
            width: 100% !important;
        }
    }

    @media (max-width: 576px) {
        padding: 2rem 2rem;
    }

    .feature {
        display: flex;
        align-items: center;
        width: 33.33%;
        height: 150px;
        padding-left: 2rem;
        padding-right: 1rem;

        &:nth-of-type(1) {
            background-color: #f7f2ed;
        }

        &:nth-of-type(2) {
            background-color: $secondary;

            .info {
                color: #ffffff;
            }
        }

        &:nth-of-type(3) {
            background-color: $primary;

            .info {
                color: #ffffff;
            }
        }

        @media (max-width: 992px) {
            width: 100%;
            justify-content: center;
            margin: 0.8rem auto;
        }

        .img-div {
            img {
                object-fit: contain;
                width: 100%;
                height: 4.5rem;
            }
        }

        .info {
            margin-left: 1rem;

            h2 {
                font-size: 24px;
            }
        }


    }
}

// About Us Section


// Call to action
.cta {
    background-color: rgb(13, 75, 139, 0.8);
    padding: 3rem 0;
    position: relative;

    .img-div {
        width: 23%;

        @media (max-width:992px) {
            display: none;
        }

        img {
            width: 100%;
            max-height: 20rem;
            filter: brightness(100%);
            z-index: 2;
            object-fit: contain;
        }
    }

    .info-div {
        padding-left: 5rem;

        @media (max-width:992px) {
            padding-left: 0rem;
        }

        h4 {
            font-size: 38px;
            color: $white;
            margin-bottom: 2rem;

            @media (max-width:992px) {
                text-align: center;
            }

            @media (max-width:768px) {
                font-size: 33px;
            }
        }
    }

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(60%);

    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 15px;
        background-color: $secondary;
        bottom: 0;
        left: 0%;
    }
}


.ratings-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 3rem;

    @media (max-width:992px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.2rem;
    }

    @media (max-width:576px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 2.2rem;
    }

    .ratings-card {
        border: none;
        border-radius: 12px;
        margin-bottom: 10px;
        box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
        padding: 1.5rem 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;

        img {
            width: 70px;
            height: 70px;
            margin-bottom: 1rem;
        }

        h4 {
            font-size: 1.20rem;
            font-weight: 500;
        }

        .info {
            line-height: 24px;
            color: #504e4b;
        }

        .ratings {
            font-size: .85rem;
            line-height: 24px;
            color: #FF9529;
            margin-top: 0.5rem;

            i {
                font-size: 20px;
            }
        }
    }
}

// Clients
.testimonials {
    padding: 4.5rem 0 2.5rem;
    text-align: center;
    position: relative;
    z-index: 99 !important;

    .testimonial-bg {
        z-index: -2;
    }

    .client-slider {
        padding: 0;
        overflow: visible;

        &__block {
            overflow: auto;

            .content-div {
                background-color: $white;
                width: 50%;
                margin: 0 auto;
                padding: 1rem 1.5rem;
                border-radius: 12px;
                overflow: visible;
                margin-top: 3rem;
                margin-bottom: 3rem;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }

            img {
                width: 100%;
                width: 75px;
                height: 75px;
                object-fit: cover;
                border: 3px solid $primary;
                border-radius: 50%;
                display: inline-block;
                margin-top: -5rem;
                background-color: $white;
            }

            p {
                color: $black;
                font-size: 1.1rem;
                margin-top: 1.375rem;
            }

            .designation {
                font-size: 1.25rem;
                font-weight: 600;
                margin-top: 1.8125rem;
                color: $warning;
            }
        }
    }
}


.gallery {
    .gallery-photos {
        column-count: 3;
        --webkit-column-count: 3;
        --moz-column-count: 3;
        gap: 1rem;
        padding: 2rem 0rem;

        @media (max-width: 576px) {
            column-count: 1;
        }

        .image {
            position: relative;
            overflow: hidden;

            img {
                height: auto;
                width: 100%;
                margin-bottom: 1rem;

                &:hover {
                    transform: scale(0.97);
                }
            }
        }
    }
}


footer {
    .logo {
        max-width: 20rem;
        width: 100%;
    }

    .footer-col {
        @media only screen and (max-width: 1000px) {
            text-align: left;
        }

        a {
            color: #808080;
        }

        .text-info {
            p {
                margin-bottom: 0.5rem;

                a {
                    line-height: 25px;
                }
            }
        }
    }

}

@keyframes topDown {

    0%,
    100% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-50%);
    }
}

// Contact
.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-align: center;

        i {
            font-size: 60px;
            color: $secondary;
            background-color: $creamWhite;
            padding: 2rem;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        h6 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
        }
    }
}